{% extends "base.html" %}

{% block content %}
<h3>{{ object.title }}</h3>
<small class="text-muted"><a href="{%url 'user_manager:user-detail' image.added_by.username %}">{{ image.added_by.username }}</a> | {{ image.created_on }}</small>
<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="/media/{{object.file.name}}" width="100%">
      </div>
    </div>
  </div>
  <div class="col-md-8">
    {{ object.description }}
  </div>
</div>
<br>
Share on: <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" target="_BLANK" class="btn btn-primary btn-xs">Facebook</a> <a href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri}}" target="_BLANK" class="btn btn-primary btn-xs">Twitter</a>
{% endblock %}
