<form class="form-horizontal" action="{% url 'user_manager:signup'%}" method="post">
   {% csrf_token %}
  <fieldset>
    <legend>Signup</legend>
    <div class="form-group">
      <label for="id_email" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input id="id_email" maxlength="254" name="email" type="email" class="form-control" placeholder="Email" required>
      </div>
    </div>
    <div class="form-group">
      <label for="id_invite_code" class="col-lg-2 control-label">Invite Code</label>
      <div class="col-lg-10">
        <input class="form-control" placeholder="Invite Code" id="id_invite_code" maxlength="120" name="invite_code" type="text" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="id_username">Username</label>
      <div class="col-lg-10">
        <input class="form-control" id="id_username" placeholder="Username" maxlength="20" name="username" type="text" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="id_password1">Password</label>
      <div class="col-lg-10">
        <input class="form-control" id="id_password1" placeholder="Password" name="password1" type="password" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="id_password2">Password Confirmation</label>
      <div class="col-lg-10">
        <input class="form-control" id="id_password2" placeholder="Password Confirmation" name="password2" type="password" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Signup</button>
      </div>
    </div>
  </fieldset>
</form>