{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h3>{{ object.user.username }}</h3>
<small class="text-muted">member since: {{ object.created_on }}</small>
<a href="{% url 'inbox:thread-detail' object.user.username %}" class="btn btn-primary pull-right"><i class="fa fa-envelope-o" aria-hidden="true"></i> Message {{ object.user.username }}</a>
<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        {% if object.avatar.name %}
          <img src="{{ object.avatar.url }}" width="100%">
        {% else %}
          <img src="{% static 'santa wayne.png' %}" width="100%">
        {% endif %}
        <br /><br />
        <small class="text-muted pull-right">
          <a href="{{ object.website_url }}"><i class="fa fa-wordpress fa-2x" aria-hidden="true"></i></a>
          <a href="{{ object.fb_profile_url }}"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
          <a href="{{ object.twitter_profile_url }}"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          <a href="{{ object.wishlist_url }}"><i class="fa fa-gift fa-2x" aria-hidden="true"></i></a>
        </small>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      {{ object.bio }}
    </div>
  </div>
</div>
{% endblock %}
