{% extends "base.html" %}

{% block content %}

<form class="form-horizontal" action="{% url 'user_manager:account' %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>Update Your Profile</legend>
    <div class="form-group">
      <label for="id_bio" class="col-lg-2 control-label">Bio</label>
      <div class="col-lg-10">
         <textarea placeholder="Your bio" class="form-control" rows="10" name="bio" id="id_bio" required>{{ form.bio.value }}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="id_website_url" class="col-lg-2 control-label">Website</label>
      <div class="col-lg-10">
        <input placeholder="Link to your personal website" class="form-control" id="id_website_url" maxlength="200" name="website_url" type="url" value="{{ form.website_url.value }}">
      </div>
    </div>
    <div class="form-group">
      <label for="id_fb_profile_url" class="col-lg-2 control-label">Facebook</label>
      <div class="col-lg-10">
        <input placeholder="Facebook Profile" class="form-control" id="id_fb_profile_url" maxlength="200" name="fb_profile_url" type="url" value="{{ form.fb_profile_url.value }}">
      </div>
    </div>
    <div class="form-group">
      <label for="id_twitter_profile_url" class="col-lg-2 control-label">Twitter</label>
      <div class="col-lg-10">
        <input placeholder="Twitter Profile" class="form-control" id="id_twitter_profile_url" maxlength="200" name="twitter_profile_url" type="url" value="{{ form.twitter_profile_url.value }}">
      </div>
    </div>
    <div class="form-group">
      <label for="id_wishlist_url" class="col-lg-2 control-label">Wishlist</label>
      <div class="col-lg-10">
        <input placeholder="Link to Amazon etc. wishlist URL" class="form-control" id="id_wishlist_url" maxlength="200" name="wishlist_url" type="url" value="{{ form.wishlist_url.value }}">
      </div>
    </div>

    <hr />
    <p><span class="help-block">Below fields are only visible to your Santa</span></p>

    <div class="form-group">
      <label for="id_first_name" class="col-lg-2 control-label">First name</label>
      <div class="col-lg-10">
        <input class="form-control" id="id_first_name" maxlength="30" name="first_name" type="text" value="{{ form.first_name.value }}" required>
      </div>
    </div>
    <div class="form-group">
      <label for="id_last_name" class="col-lg-2 control-label">Last name</label>
      <div class="col-lg-10">
        <input class="form-control" id="id_last_name" maxlength="30" name="last_name" type="text" value="{{ form.last_name.value }}" required>
      </div>
    </div>
    <div class="form-group">
      <label for="id_preferences" class="col-lg-2 control-label">Gift preferences</label>
      <div class="col-lg-10">
         <textarea placeholder="State your gift preferences, your like/dislikes" class="form-control" rows="10" name="preferences" id="id_preferences" required>{{ form.preferences.value }}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="id_address" class="col-lg-2 control-label">Address</label>
      <div class="col-lg-10">
         <textarea placeholder="Your postal address, including phone number and pincode/zipcode" class="form-control" rows="10" name="address" id="id_address" required>{{ form.address.value }}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="id_shipping_instructions" class="col-lg-2 control-label">Extra shipping instructions</label>
      <div class="col-lg-10">
         <textarea placeholder="If you need to give any extra instructions while shipping, mention them here" class="form-control" rows="10" name="shipping_instructions" id="id_shipping_instructions">{{ form.shipping_instructions.value }}</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-10">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}
