{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h3>{{ thread.recipient }}</h3>
<div class="panel panel-info">
  <div class="panel-body">
    <ul class="media-list">
      {% block all_messages %}
        {% for message in thread_messages %}
        <li class="media">
          <div class="media-body">
            <div class="media">
              <div class="media-body" >
                <span class="message-body">{{ message.text }}</span>
                <br /><br />
                <small class="text-muted"><a href="{%url 'user_manager:user-detail' message.sent_by.username %}">{{ message.sent_by.username }}</a> | {{ message.created_on }}</small>
                <hr />
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      {% endblock %}
    </ul>
  </div>
    <div class="panel-footer">
      <form class="form-horizontal" action="{% url 'inbox:new-message' object.id %}" method="post">
      {% csrf_token %}
      <fieldset>
      <div class="form-group">
        <label for="id_text" class="col-lg-0 control-label"></label>
        <div class="col-lg-12">
           <textarea class="form-control" rows="10" name="text" id="id_text" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-9 col-lg-offset-9">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Send Message</button>
        </div>
      </div>
      </fieldset>
      </form>
    </div>
</div>

<div class="sample-message-block" style="display: none;">
  <li class="media">
    <div class="media-body">
      <div class="media">
        <div class="media-body" >
          <span class="message-body">some message</span>
          <br /><br />
          <small class="text-muted">signature</small>
          <hr />
        </div>
        </div>
    </div>
  </li>
</div>

{% endblock %}

{% block jsblock %}
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
