{% extends "base.html" %}

{% block content %}

<h3>Sneaky Messages</h3>
<p>These contain messages between your Santa and Santee. The messages sent to your Santee, will be always sent as anonymous.</p>
<div class="list-group">
{% for thread in sneaky_list %}
  <a href="{{ thread.url }}" class="list-group-item">
  <span class="name" style="min-width: 120px; display: inline-block;">{{ thread.title }}</span>
  <span>{{ thread.latest_message.text | truncatechars:50 }}</span>
  <span class="badge">{{ thread.last_message_time }}</span> <span class="pull-right"></span></a>
{% empty %}
  <p>You don't have any sneaky messages.</p>
{% endfor %}
</div>

<h3>Messages</h3>
<div class="list-group">
{% for thread in object_list %}
  <a href="{% url 'inbox:thread-detail' thread.recipient %}" class="list-group-item">
  <span class="name" style="min-width: 120px; display: inline-block;">{{ thread.recipient }}</span>
  <span>{{ thread.latest_message.text | truncatechars:50 }}</span>
  <span class="badge">{{ thread.last_message_time }}</span> <span class="pull-right"></span></a>
{% empty %}
  <p>...</p>
{% endfor %}
</div>
{% endblock %}

