<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Della</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{% url 'gallery:image-list' %}">Gallery</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_staff %}
          <li><a href="#">{{ user.username }}</a></li>
          <li><a href="{% url 'inbox:threads' %}">Messages</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Tools<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'user_manager:draw-names' %}">Draw Names</a></li>
              <li><a href="{% url 'user_manager:mass-email' %}">Mass Email</a></li>
            </ul>
          </li>
          <li><a href="{% url 'user_manager:logout' %}">Logout</a></li>
        {% elif user.is_authenticated %}
          <li><a href="{% url 'user_manager:user-detail' user.username %}">{{ user.username }}</a></li>
          <li><a href="{% url 'user_manager:account' %}">Account</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Messages<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'inbox:threads' %}">Inbox</a></li>
              <li><a href="{% url 'inbox:santee-detail' %}">Contact Santee</a></li>
            </ul>
          </li>
          <li><a href="{% url 'user_manager:logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'user_manager:login' %}">Login</a></li>
          <li><a href="{% url 'user_manager:signup' %}">Signup</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>